version: '3'
services:
  server:
    image: nginx:alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
  db:
    image: mariadb:${DBVERSION}
    volumes:
      - mysql:/var/lib/mysql
      - ./gen_db.sh:/docker-entrypoint-initdb.d/gen_db.sh
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=${DBROOTPWD}
    env_file:
      - ./.env
  gogs:
    image: gogs/gogs
    depends_on:
      - db
    expose:
      - "3000"
      - "22"
    ports:
      - "3000:3000"
    volumes:
      - gogs:/data
  nextcloud:  
    image: nextcloud
    depends_on:
      - db
    ports:
      - 8080:80
    volumes:
      - nextcloud:/var/www/html
volumes:
  gogs:
  mysql:
  nextcloud:
